*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 1000px;
    margin: 0 auto;
}

/*header 开始*/
.header{
    width: 100%;
    height: 70px;
}
.header_left{
    float: left;
    width: 200px;
}
.header_right{
    float: left;
}
.header_right li{
    float: left;
    list-style-type: none;
    width: 100px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.header_right li a:link,.header_right li a:visited{
    text-decoration: none;
    color: #333333;
}
.header_right li a:hover,.header_right li a:active{
    text-decoration: none;
    color: #333333;
    background-color: brown;
    display: block; /*由于a标签属于内联元素，无高度和宽度属性，因此控制鼠标经过状态改变背景颜色时，仅在有文字的地方显示背景颜色。解决的办法是把a标签变为块级元素，display:block*/
}
/*header 结束*/


.content{
    width: 100%;
    height: 910px;
    border: 1px solid green;
}

/* 焦点图 开始*/
.slider{
    width: 100%;
    height: 310px;
    overflow: hidden;
}
/* 焦点图 结束*/

/* news 开始*/
.news{
    width: 100%;
    height: 40px;
    margin: 20px 0;
}
.news_title{
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #990000;
    text-align: center;
}
.news_content{
    float: left;
    width: 790px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #000000;
    padding: 0 0 0 10px;
}
/* news结束 */

.main_list{
    width: 100%;
    height: 150px;
}
.main_first{
    width: 330px;
    height: 100%;
    float: left;
}
.main_first_top{
    width: 330px;
    height: 130px;
}
.main_first_bottom{
    height: 18px;
    text-align: center;
    border: 1px solid #E8E8E8;
}
.main_first_bottom p{
    font-size: 10px;
    line-height: 18px;
}
.main_second{
    width: 330px;
    height: 100%;
    float: left;
    margin: 0 5px;
}
.main_second_top{
    width: 330px;
    height: 130px;
}
.main_second_bottom{
    height: 18px;
    text-align: center;
    border: 1px solid #E8E8E8;
}
.main_second_bottom p{
    font-size: 10px;
    line-height: 18px;
}
.main_third{
    width: 330px;
    height: 100%;
    float: left;
}
.main_third_top{
    width: 330px;
    height: 130px;
}
.main_third_bottom{
    height: 18px;
    text-align: center;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
.main_third_bottom p{
    font-size: 10px;
    line-height: 18px;
}

.detail_list{
    width: 100%;
    height: 330px;
    border: 1px solid gray;
    margin: 20px 0;
}
.detail_first{
    width: 330px;
    height: 330px;
    float: left;
}
.detail_first h3{
    background-color: #BD3847;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-indent: 2em;
}
.detail_first_top p{
    height: 39px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0 0 0 20px;
}
.detail_first_bottom{
    width: 100%;
    height: 291px;
}
.detail_first_bottom li{
    list-style-type: none;
}
.date{
    float: left;
    width: 40px;
    height: 80px;
    background-color: #990000;

}
.detail_second{
    width: 330px;
    height: 330px;
    background-color: #990000;
    float: left;
    margin: 0 5px;
}
.detail_third{
    width: 330px;
    height: 330px;
    background-color: #B5AAB0;
    float: left;
}

.copyright{
    width: 100%;
    height: 70px;
    border: 1px solid red;
}